* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

body {
  width: 100vw;
  background: linear-gradient(rgba(0, 18, 50, 0.84), rgba(0, 0, 0, 0.95)),
    url(./Threater\ Image.webp) bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.pickMovie-container {
  display: flex;
  margin-top: 30px;
  color: white;
  gap: 10px;
  align-items: center;
}

#select {
  border-radius: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 30px;
  padding: 0 10px;
}

.seats-types {
  display: flex;
  gap: 20px;
}

.NA {
  display: flex;
  align-items: center;
  color: rgb(117, 115, 113);
  gap: 10px;
}

.blue-seat {
  height: 32px;
  width: 35px;
  background-color: rgb(1, 22, 62);
  border: 2px solid rgb(33, 55, 97);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.selected-seat {
  display: flex;
  align-items: center;
  color: rgb(117, 115, 113);
  gap: 10px;
}

.seat.selected {
  height: 32px;
  width: 35px;
  background-color: rgb(49, 215, 169);
  border: 2px solid rgb(33, 55, 97);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.booked-seats {
  display: flex;
  align-items: center;
  color: rgb(117, 115, 113);
  gap: 10px;
}

.white-seat {
  height: 32px;
  width: 35px;
  background-color: white;
  border: 2px solid rgb(33, 55, 97);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.seats-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blocks {
  display: flex;
  gap: 10px;
}

.seat {
  height: 30px;
  width: 35px;
  background-color: rgb(1, 22, 62);
  border: 2px solid rgb(33, 55, 97);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  cursor: pointer;
}

.booked-seat {
  height: 32px;
  width: 35px;
  background-color: white;
  border: 2px solid rgb(33, 55, 97);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

/* .booked-seat:nth-last-of-type(2){
      margin-right: 18px;
  } */

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.gold {
  text-align: center;
  color: rgb(45, 195, 130);
}

.seat-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
  margin-bottom: 25px;
}

.one {
  border-top: 1px solid rgb(29, 51, 94);
  width: 50%;
}

.two {
  border-top: 3px solid rgb(29, 51, 94);
  width: 80%;
}

.number-of-selected-seat {
  display: flex;
  color: white;
  gap: 10px;
}

.price-container {
  display: flex;
  color: white;
  margin-bottom: 20px;
  gap: 10px;
}

.price-containe{
  display: flex;
  color: white;
  gap: 10px;
}

#number {
  color: rgb(109, 230, 238);
}

#bookedSeats{
  color: rgb(109, 230, 238);
}
#number-of-seats{
  color: rgb(109, 230, 238);
}



.seat:hover {
  zoom: 115%;
}
.clicked-seat:hover {
  zoom: 115%;
}
.clicked-seat{
  height: 30px;
  width: 35px;
  background-color: ccc;
  border: 2px solid rgb(33, 55, 97);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  cursor: pointer;
}

.clicked-seat:nth-of-type(2) {
  margin-right: 18px;
}

.clicked-seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.selected-count{
  height: 30px;
  width: 35px;
  background-color: rgb(49, 215, 169);
  border: 2px solid rgb(33, 55, 97);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  cursor: pointer;
}

.selected-count:nth-of-type(2) {
  margin-right: 18px;
}


.selected-count:hover {
  zoom: 115%;
}

.selected-count:nth-last-of-type(2) {
  margin-left: 18px;
}
